In [1]:
import pandas as pd

In [2]:
datos = {
    'producto': ['manzana', 'banana', 'naranja', 'pera', 'uva', 'sandía', 'kiwi', 'mango', 'piña', 'fresa'],
    'precio': [1.20, 0.80, 1.00, 1.50, 2.00, 3.50, 2.20, 2.80, 3.00, 1.80],
    'stock': [50, 100, 80, 60, 40, 20, 30, 25, 15, 70]
}

df= pd.DataFrame(datos)
df.set_index('producto', inplace=True)  # Establecer 'producto' como índice
df

          precio  stock
producto
manzana      1.2     50
banana       0.8    100
naranja      1.0     80
pera         1.5     60
uva          2.0     40
sandía       3.5     20
kiwi         2.2     30
mango        2.8     25
piña         3.0     15
fresa        1.8     70

In [3]:
#Axis = {'index': 0, 'columns': 1}
df.drop('fresa', axis=0, inplace=True)  # Eliminar la fila de 'fresa'
print("Eliminación de la fila 'fresa':")
print(df)

Eliminación de la fila 'fresa':
          precio  stock
producto
manzana      1.2     50
banana       0.8    100
naranja      1.0     80
pera         1.5     60
uva          2.0     40
sandía       3.5     20
kiwi         2.2     30
mango        2.8     25
piña         3.0     15

In [4]:
print("\nEliminación de la columna 'precio':")
df.drop('precio', axis=1, inplace=True)  # Eliminar la columna '
df

Eliminación de la columna 'precio':

          stock
producto
manzana      50
banana      100
naranja      80
pera         60
uva          40
sandía       20
kiwi         30
mango        25
piña         15