In [2]:
import pandas as pd

In [3]:
df = pd.read_json('/Users/Admin/Documents/proyectosAnalisisDatos/Pandas/Data/datos.json')
display(df)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Juan    45  Barcelona
2  Pedro    34   Valencia

In [4]:
json_data= '''
{
    "Nombre": ["Ana","Juan","Pedro"],
    "Edad": [23,45,55],
    "Ciudad": ["Madrid", "Barcelona","Valencia"]   
}
'''

df= pd.read_json(json_data)
display(df)

C:\Users\Admin\AppData\Local\Temp\ipykernel_11208\4272508317.py:9: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df= pd.read_json(json_data)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Juan    45  Barcelona
2  Pedro    55   Valencia

In [5]:
## Exportar Datos Json
# orient='records'
# Define la forma en que se estructuran los datos al convertir el DataFrame en JSON.
# Con "records", cada fila del DataFrame se convierte en un diccionario de la forma:
# lines=True Hace que cada registro (cada fila) se guarde en una l√≠nea independiente en el archivo.

df.to_json('/Users/Admin/Documents/proyectosAnalisisDatos/Pandas/Data/Datos_Exportados.json', orient='records', lines=True)

In [6]:
#Opciones avanzadas en Json
df.to_json('/Users/Admin/Documents/proyectosAnalisisDatos/Pandas/Data/Datos_Exportados.json', orient='records', lines=True, indent=4)
#Para cifras decimales que deseamos que se trunque el numero seria asi 
df.to_json('/Users/Admin/Documents/proyectosAnalisisDatos/Pandas/Data/Datos_Exportados.json', orient='records', lines=True, double_precision=2)

In [7]:
#Json anidados
df= pd.DataFrame({
    "Nombre": ["Yamith", "Juan"],
    "Datos": [{"Edad":23, "Ciudad": "Tunja"}, {"Edad": 38, "Ciudad": "Motavita"}]
    
})
display(df)

   Nombre                               Datos
0  Yamith     {'Edad': 23, 'Ciudad': 'Tunja'}
1    Juan  {'Edad': 38, 'Ciudad': 'Motavita'}

In [ ]:
#Datos Anidados
df.to_json('/Users/Admin/Documents/proyectosAnalisisDatos/Pandas/Data/Datos_Exportados.json', orient='records')