In [12]:
import pandas as pd

In [13]:
data = {
    'producto': ['Manzanas', 'Naranjas', 'Platanos', 'Manzanas','Peras'],
    'precio': [100, 80, 60, 100, 90],
    'stock': [100, 50, 30, 100,10]  }

df = pd.DataFrame(data)
df

   producto  precio  stock
0  Manzanas     100    100
1  Naranjas      80     50
2  Platanos      60     30
3  Manzanas     100    100
4     Peras      90     10

In [8]:
valores_unicos = df.nunique()
print(valores_unicos)

producto    4
precio      4
stock       4
dtype: int64

In [9]:
#Frecuencias de los valores en la columna 'producto'
frecuencias_productos = df['producto'].value_counts()
frecuencias_productos

producto
Manzanas    2
Naranjas    1
Platanos    1
Peras       1
Name: count, dtype: int64

In [10]:
#Calcular la moda de la columna 'producto'
moda_producto = df['precio'].mode()
print("Moda de precios: \n", moda_producto)

Moda de precios:
 0    100
Name: precio, dtype: int64