In [1]:
import pandas as pd

In [2]:
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],   
    'C': [2, 3, 4, 5, 6]}
df = pd.DataFrame(data)
df

   A  B  C
0  1  5  2
1  2  4  3
2  3  3  4
3  4  2  5
4  5  1  6

In [4]:
#Correlacion de person
correlation = df.corr(method='pearson')
print("Correlación de Pearson: \n", correlation)

Correlación de Pearson:
      A    B    C
A  1.0 -1.0  1.0
B -1.0  1.0 -1.0
C  1.0 -1.0  1.0

In [6]:
#Correlacion kendall
correlation_kendall = df.corr(method='kendall')
print("Correlación de Kendall: \n", correlation_kendall)

Correlación de Kendall:
      A    B    C
A  1.0 -1.0  1.0
B -1.0  1.0 -1.0
C  1.0 -1.0  1.0

In [7]:
#correlacion spearman
correlation_spearman = df.corr(method='spearman')
print("Correlación de Spearman: \n", correlation_spearman)

Correlación de Spearman:
      A    B    C
A  1.0 -1.0  1.0
B -1.0  1.0 -1.0
C  1.0 -1.0  1.0

In [8]:
#Covarianza
covariance = df.cov()
print("Covarianza: \n", covariance)

Covarianza:
      A    B    C
A  2.5 -2.5  2.5
B -2.5  2.5 -2.5
C  2.5 -2.5  2.5