In [1]:
import pandas as pd

In [2]:
df = pd.read_xml('/Users/Admin/Documents/proyectosAnalisisDatos/Pandas/Data/datos.xml')

display(df)

,id,author,title,genre,price,publish_date
0,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16
2,bk103,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17

In [3]:
#Para exportar el archivo 
df.to_xml('Datos_exportador.xml', index=False)

In [4]:
#Cargar datos desde html

df = pd.read_html('/Users/Admin/Documents/proyectosAnalisisDatos/Pandas/Data/datos.html',encoding='utf-8')

display(df)

[             Producto    Categoría  Precio
 0  Ordenador Portátil  Electrónica   800.0
 1     Mesa de Comedor      Muebles   300.0
 2    Silla de Oficina      Muebles   120.0]

In [5]:
display(df[0])

             Producto    Categoría  Precio
0  Ordenador Portátil  Electrónica   800.0
1     Mesa de Comedor      Muebles   300.0
2    Silla de Oficina      Muebles   120.0