In [24]:
import pandas as pd

In [25]:
data = {
    "id": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110,111,112],
    "nombre": [
        "Ana Torres", "Luis Pérez", "María Gómez", "Pedro Díaz", "Lucía Ramírez",
        "Andrés Rojas", "Sofía Morales", "Carlos Ruiz", "Valentina López", "Jorge Herrera","Ana Torres","Jorge Herrera"
    ],
    "correo": [
        "ana.torres@example.com",
        "luis.perez@example.com",
        "maria.gomez@example.com",
        "pedro.diaz@example.com",
        "lucia.ramirez@example.com",
        "andres.rojas@example.com",
        "sofia.morales@example.com",
        "carlos.ruiz@example.com",
        "valentina.lopez@example.com",
        "jorge.herrera@example.com",
        "ana.torres@example.com",
        "jorge.herrera@example.com"
    ],
    "fecha_registro": [
        "2020-01-15",
        "2019-03-20",
        "2018-07-10",
        "2017-11-01",
        "2021-05-25",
        "2016-09-13",
        "2022-02-05",
        "2015-08-19",
        "2021-12-01",
        "2018-04-30",
        "2020-05-20",        
        "2018-12-17"
    ]
}

df = pd.DataFrame(data)
display(df)

     id           nombre                       correo fecha_registro
0   101       Ana Torres       ana.torres@example.com     2020-01-15
1   102       Luis Pérez       luis.perez@example.com     2019-03-20
2   103      María Gómez      maria.gomez@example.com     2018-07-10
3   104       Pedro Díaz       pedro.diaz@example.com     2017-11-01
4   105    Lucía Ramírez    lucia.ramirez@example.com     2021-05-25
5   106     Andrés Rojas     andres.rojas@example.com     2016-09-13
6   107    Sofía Morales    sofia.morales@example.com     2022-02-05
7   108      Carlos Ruiz      carlos.ruiz@example.com     2015-08-19
8   109  Valentina López  valentina.lopez@example.com     2021-12-01
9   110    Jorge Herrera    jorge.herrera@example.com     2018-04-30
10  111       Ana Torres       ana.torres@example.com     2020-05-20
11  112    Jorge Herrera    jorge.herrera@example.com     2018-12-17

In [26]:
#Primero detectar clientes duplicados por correo 
duplicados_correos = df[df.duplicated(subset=['correo'],keep=False)]
display(duplicados_correos)

     id         nombre                     correo fecha_registro
0   101     Ana Torres     ana.torres@example.com     2020-01-15
9   110  Jorge Herrera  jorge.herrera@example.com     2018-04-30
10  111     Ana Torres     ana.torres@example.com     2020-05-20
11  112  Jorge Herrera  jorge.herrera@example.com     2018-12-17

In [27]:
#Eliminar los duplicados con la fecha mas reciente del registro
df_sin_duplicados = df.drop_duplicates(subset=['correo'],keep='first')
display(df_sin_duplicados)

    id           nombre                       correo fecha_registro
0  101       Ana Torres       ana.torres@example.com     2020-01-15
1  102       Luis Pérez       luis.perez@example.com     2019-03-20
2  103      María Gómez      maria.gomez@example.com     2018-07-10
3  104       Pedro Díaz       pedro.diaz@example.com     2017-11-01
4  105    Lucía Ramírez    lucia.ramirez@example.com     2021-05-25
5  106     Andrés Rojas     andres.rojas@example.com     2016-09-13
6  107    Sofía Morales    sofia.morales@example.com     2022-02-05
7  108      Carlos Ruiz      carlos.ruiz@example.com     2015-08-19
8  109  Valentina López  valentina.lopez@example.com     2021-12-01
9  110    Jorge Herrera    jorge.herrera@example.com     2018-04-30

In [ ]:
#Mantener el registro con la fecha mas reciente
#Ordeno primero por fecha de registro y luego los elimino
# Si quieres quedarte con el registro más reciente, ordena en orden descendente
# ascending=False → ahora el primero será el más reciente.
# keep='first' → mantiene ese más reciente y elimina los duplicados más antiguos.

df_sin_duplicados_recent = df.sort_values('fecha_registro',ascending=False).drop_duplicates(subset=['correo'],keep='first')
display(df_sin_duplicados_recent)

     id           nombre                       correo fecha_registro
6   107    Sofía Morales    sofia.morales@example.com     2022-02-05
8   109  Valentina López  valentina.lopez@example.com     2021-12-01
4   105    Lucía Ramírez    lucia.ramirez@example.com     2021-05-25
10  111       Ana Torres       ana.torres@example.com     2020-05-20
1   102       Luis Pérez       luis.perez@example.com     2019-03-20
11  112    Jorge Herrera    jorge.herrera@example.com     2018-12-17
2   103      María Gómez      maria.gomez@example.com     2018-07-10
3   104       Pedro Díaz       pedro.diaz@example.com     2017-11-01
5   106     Andrés Rojas     andres.rojas@example.com     2016-09-13
7   108      Carlos Ruiz      carlos.ruiz@example.com     2015-08-19

In [ ]:
#Detectar datos atipicos
import numpy as np
import pandas as pd

np.random.seed(42)  # para reproducibilidad

# Simular 30 ventas con montos normalmente distribuidos alrededor de 500 ± 100
monto_normal = np.random.normal(loc=500, scale=100, size=30).astype(int)

# Insertar algunos valores atípicos (muy altos y muy bajos)
monto_outliers = np.append(monto_normal, [50, 80, 2000, 3000])
# arr es un array de NumPy.
# arr.tolist() lo convierte en una lista de Python ([10, 20, 30]).

ventas = {
    "id_venta": list(range(1, len(monto_outliers) + 1)),
    "producto": np.random.choice(
        ["Laptop", "Celular", "Tablet", "Audífonos", "Monitor"], 
        size=len(monto_outliers)
    ).tolist(),
    "cantidad": np.random.randint(1, 5, size=len(monto_outliers)).tolist(),
    "monto_venta": monto_outliers.tolist(),
    "fecha_venta": pd.date_range("2023-01-01", periods=len(monto_outliers)).strftime("%Y-%m-%d").tolist()
}

df = pd.DataFrame(ventas)
display(df)

    id_venta   producto  cantidad  monto_venta fecha_venta
0          1  Audífonos         3          549  2023-01-01
1          2  Audífonos         1          486  2023-01-02
2          3  Audífonos         1          564  2023-01-03
3          4  Audífonos         1          652  2023-01-04
4          5    Monitor         3          476  2023-01-05
5          6     Tablet         1          476  2023-01-06
6          7     Laptop         4          657  2023-01-07
7          8  Audífonos         1          576  2023-01-08
8          9    Celular         4          453  2023-01-09
9         10  Audífonos         4          554  2023-01-10
10        11    Celular         4          453  2023-01-11
11        12    Celular         3          453  2023-01-12
12        13  Audífonos         3          524  2023-01-13
13        14    Monitor         3          308  2023-01-14
14        15    Celular         1          327  2023-01-15
15        16    Celular         4          443  2023-01-16
16        17  Audífonos         3          398  2023-01-17
17        18    Celular         3          531  2023-01-18
18        19    Celular         1          409  2023-01-19
19        20  Audífonos         3          358  2023-01-20
20        21  Audífonos         1          646  2023-01-21
21        22     Laptop         2          477  2023-01-22
22        23    Monitor         3          506  2023-01-23
23        24    Monitor         2          357  2023-01-24
24        25    Celular         1          445  2023-01-25
25        26    Monitor         4          511  2023-01-26
26        27    Celular         3          384  2023-01-27
27        28     Laptop         1          537  2023-01-28
28        29  Audífonos         4          439  2023-01-29
29        30  Audífonos         4          470  2023-01-30
30        31  Audífonos         2           50  2023-01-31
31        32    Monitor         1           80  2023-02-01
32        33     Laptop         4         2000  2023-02-02
33        34    Monitor         3         3000  2023-02-03

In [ ]:
#Detectar los outlierts detectar valores atipicos
Q1 = df['monto_venta'].quantile(0.25)
Q3 = df['monto_venta'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q1 + 1.5 * IQR

outliers = df[(df['monto_venta'] < lower_bound) | (df['monto_venta'] > upper_bound)]
display(outliers)

    id_venta   producto  cantidad  monto_venta fecha_venta
3          4  Audífonos         1          652  2023-01-04
6          7     Laptop         4          657  2023-01-07
20        21  Audífonos         1          646  2023-01-21
30        31  Audífonos         2           50  2023-01-31
31        32    Monitor         1           80  2023-02-01
32        33     Laptop         4         2000  2023-02-02
33        34    Monitor         3         3000  2023-02-03