In [21]:
import pandas as pd

In [22]:
data = {
    'Empleado': ['Juan', 'Ana', 'Pedro', 'Maria', 'Luis','Yamith'],
    'Salario': [50000, 60000, 55000, 58000, 120000,500],
    'Departamento': ['Ventas', 'Marketing', 'Ventas', 'IT', 'Marketing','Analista'],
    'Años_Experiencia': [5, 7, 6, 8, 9,1]   
    
}

df = pd.DataFrame(data)
# This code creates a DataFrame with employee data including their names, salaries, departments, and
# years of experience. The DataFrame is then displayed.

df

  Empleado  Salario Departamento  Años_Experiencia
0     Juan    50000       Ventas                 5
1      Ana    60000    Marketing                 7
2    Pedro    55000       Ventas                 6
3    Maria    58000           IT                 8
4     Luis   120000    Marketing                 9
5   Yamith      500     Analista                 1

In [23]:
median_salario = df['Salario'].median()
print("Salario mediano:", median_salario)
std_salario = df['Salario'].std()
print("Desviación estándar del salario:", std_salario)

# Identificar valores atípicos usando el método del rango intercuartílico (IQR)
umbral = 1

df['Es_Atipico'] = abs(df['Salario'] - median_salario) > umbral * std_salario
print("DataFrame con columna de valores atípicos:\n", df)

Salario mediano: 56500.0
Desviación estándar del salario: 38010.19600054701
DataFrame con columna de valores atípicos:
   Empleado  Salario Departamento  Años_Experiencia  Es_Atipico
0     Juan    50000       Ventas                 5       False
1      Ana    60000    Marketing                 7       False
2    Pedro    55000       Ventas                 6       False
3    Maria    58000           IT                 8       False
4     Luis   120000    Marketing                 9        True
5   Yamith      500     Analista                 1        True

In [24]:
#buscando datos atípicos con con percentiles y cuartiles
percentil_25 = df['Salario'].quantile(0.25)
percentil_75 = df['Salario'].quantile(0.75)
iqr = percentil_75 - percentil_25

umbral_inferior = percentil_25 - 1.5 * iqr
umbral_superior = percentil_75 + 1.5 * iqr


df['Es_Atipico_IQR'] = (df['Salario'] < umbral_inferior) | (df['Salario'] > umbral_superior)
print("DataFrame con columna de valores atípicos usando IQR:\n", df)

DataFrame con columna de valores atípicos usando IQR:
   Empleado  Salario Departamento  Años_Experiencia  Es_Atipico  Es_Atipico_IQR
0     Juan    50000       Ventas                 5       False           False
1      Ana    60000    Marketing                 7       False           False
2    Pedro    55000       Ventas                 6       False           False
3    Maria    58000           IT                 8       False           False
4     Luis   120000    Marketing                 9        True            True
5   Yamith      500     Analista                 1        True            True

In [ ]:
#Eliminar filas con valores atípicos
df_sin_atipicos = df[~df['Es_Atipico'] & ~df['Es_Atipico_IQR']]
print("DataFrame sin valores atípicos:\n", df_sin_atipicos)

DataFrame sin valores atípicos:
   Empleado  Salario Departamento  Años_Experiencia  Es_Atipico  Es_Atipico_IQR
0     Juan    50000       Ventas                 5       False           False
1      Ana    60000    Marketing                 7       False           False
2    Pedro    55000       Ventas                 6       False           False
3    Maria    58000           IT                 8       False           False

In [27]:
#Reemplazar valores atípicos con la mediana
df.loc[df['Es_Atipico'], 'Salario'] = median_salario
df

  Empleado  Salario Departamento  Años_Experiencia  Es_Atipico  Es_Atipico_IQR
0     Juan    50000       Ventas                 5       False           False
1      Ana    60000    Marketing                 7       False           False
2    Pedro    55000       Ventas                 6       False           False
3    Maria    58000           IT                 8       False           False
4     Luis    56500    Marketing                 9        True            True
5   Yamith    56500     Analista                 1        True            True

In [ ]:
#buscando datos atípicos con con percentiles y cuartiles
percentil_25 = df['Salario'].quantile(0.25)
percentil_75 = df['Salario'].quantile(0.75)
iqr = percentil_75 - percentil_25

umbral_inferior = percentil_25 - 1.5 * iqr
umbral_superior = percentil_75 + 1.5 * iqr


df['Es_Atipico_IQR'] = (df['Salario'] < umbral_inferior) | (df['Salario'] > umbral_superior)
print("DataFrame con columna de valores atípicos usando IQR:\n", df)

DataFrame con columna de valores atípicos usando IQR:
   Empleado  Salario Departamento  Años_Experiencia  Es_Atipico  Es_Atipico_IQR
0     Juan    50000       Ventas                 5       False            True
1      Ana    60000    Marketing                 7       False           False
2    Pedro    55000       Ventas                 6       False           False
3    Maria    58000           IT                 8       False           False
4     Luis    56500    Marketing                 9        True           False
5   Yamith    56500     Analista                 1        True           False