In [1]:
import pandas as pd

In [2]:
data = {
    'producto': ['Manzanas', 'Naranjas', 'Platanos', 'Uvas','Peras'],
    'precio': [100, 80, 60, 120, 90],
    'stock': [100, 50, 30, 20,10]  }

df = pd.DataFrame(data)

df

   producto  precio  stock
0  Manzanas     100    100
1  Naranjas      80     50
2  Platanos      60     30
3      Uvas     120     20
4     Peras      90     10

In [4]:
#Filtro condiciÃ³n de precio
filtro_precio = df[df['precio'] > 80]
print("Productos con precio mayor a 80:\n", filtro_precio)

Productos con precio mayor a 80:
    producto  precio  stock
0  Manzanas     100    100
3      Uvas     120     20
4     Peras      90     10

In [ ]:
#Filtrar con multiples condiciones
filtro_multiple = df[(df['precio'] > 80) & (df['stock'] > 30)]
print("Productos con precio mayor a 80 y stock menor a 30:\n", filtro_multiple)

Productos con precio mayor a 80 y stock menor a 30:
    producto  precio  stock
0  Manzanas     100    100

In [9]:
#Filtro con texto
filtro_texto = df[df['producto'].str.contains('v')]
print("Productos que contienen la letra 'v':\n", filtro_texto)

Productos que contienen la letra 'v':
   producto  precio  stock
3     Uvas     120     20

In [10]:
#Filtar por columnas
filtro_columnas = df[['producto', 'precio']]
print("Filtrado por columnas 'producto' y 'precio':\n", filtro_columnas)

Filtrado por columnas 'producto' y 'precio':
    producto  precio
0  Manzanas     100
1  Naranjas      80
2  Platanos      60
3      Uvas     120
4     Peras      90

In [ ]:
#Metodo query
filtro_query = df.query("precio > 80 and stock < 30")
print("Productos con precio mayor a 80 y stock menor a 30 usando query:\n", filtro_query)

#

Productos con precio mayor a 80 y stock menor a 30 usando query:
   producto  precio  stock
3     Uvas     120     20
4    Peras      90     10

In [12]:
#Metodo isin
filtro_isin = df[df['producto'].isin(['Manzanas', 'Uvas'])]
print("Productos que son Manzanas o Uvas:\n", filtro_isin)

Productos que son Manzanas o Uvas:
    producto  precio  stock
0  Manzanas     100    100
3      Uvas     120     20