In [1]:
import pandas as pd

In [9]:
s1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
s2 = pd.Series([40, 50, 60,70], index=['b', 'c', 'd','e'])

In [10]:
s1 + s2  # Suma de Series con alineación automática

a     NaN
b    60.0
c    80.0
d     NaN
e     NaN
dtype: float64

In [13]:
#Sumar con metodo add
suma_series = s1.add(s2, fill_value=0)  # Suma con alineación y manejo de valores faltantes
#Sumar con metodo sub
resta_serie = s1.sub(s2, fill_value=0)  # Resta con alineación y manejo de valores faltantes
#Sumar con metodo mul
multiplicacion_serie=s1.mul(s2, fill_value=1)  # Multiplicación con alineación y manejo de valores faltantes
#Sumar con metodo div               
division_serie= s1.div(s2, fill_value=1)  # División con alineación y manejo de valores faltantes
#Sumar con metodo mod
modelulo= s1.mod(s2, fill_value=1)  # Módulo con alineación y manejo de valores faltantes
#Sumar con metodo pow
potencia = s1.pow(s2, fill_value=1)  # Potencia con alineación y manejo de valores faltantes   

print(f'{suma_series}')
print(resta_serie)
print(multiplicacion_serie)
print(division_serie)
print(modelulo)

a    10.0
b    60.0
c    80.0
d    60.0
e    70.0
dtype: float64
a    10.0
b   -20.0
c   -20.0
d   -60.0
e   -70.0
dtype: float64
a      10.0
b     800.0
c    1500.0
d      60.0
e      70.0
dtype: float64
a    10.000000
b     0.500000
c     0.600000
d     0.016667
e     0.014286
dtype: float64
a     0.0
b    20.0
c    30.0
d     1.0
e     1.0
dtype: float64

In [14]:
#sumar dataframe con index diferentes
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]}, index=['a', 'b'])
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]}, index=['b', 'c'])

In [19]:
#sumar dataframes
suma_df = df1.add(df2, fill_value=0)  # Suma de DataFrames con alineación automática    
print('Suma de DataFrames:')
suma_df

Suma de DataFrames:

     A     B
a  1.0   3.0
b  7.0  11.0
c  6.0   8.0