In [2]:
import pandas as pd

In [3]:
datos = {
    'producto': ['manzana', 'banana', 'naranja', 'pera', 'uva', 'sandía', 'kiwi', 'mango', 'piña', 'fresa'],
    'precio': [1.20, 0.80, 1.00, 1.50, 2.00, 3.50, 2.20, 2.80, 3.00, 1.80],
    'stock': [50, 100, 80, 60, 40, 20, 30, 25, 15, 70]
}

df = pd.DataFrame(datos)
df

  producto  precio  stock
0  manzana     1.2     50
1   banana     0.8    100
2  naranja     1.0     80
3     pera     1.5     60
4      uva     2.0     40
5   sandía     3.5     20
6     kiwi     2.2     30
7    mango     2.8     25
8     piña     3.0     15
9    fresa     1.8     70

In [4]:
#Como acceder a los datos de un DataFrame
#Acceso a una columna
precio = df['precio']
print(f"Columna 'precio': \n {precio}")

Columna 'precio':
 0    1.2
1    0.8
2    1.0
3    1.5
4    2.0
5    3.5
6    2.2
7    2.8
8    3.0
9    1.8
Name: precio, dtype: float64

In [5]:
#Acceso a una fila
#Log de la fila 'fila_banano' basado en el índice
fila_banano = df.loc[1,'producto']
print(f"Fila 'banana': \n {fila_banano}")

#Acceso a un valor específico
fila_banano_1 = df.loc[1]
print(f"Fila 'banana' completa: \n {fila_banano_1}")

Fila 'banana':
 banana
Fila 'banana' completa:
 producto    banana
precio         0.8
stock          100
Name: 1, dtype: object

In [6]:
#Otra forma de acceder a una fila usando iloc (index location)
#Acceso a la fila en la posición 1 (segunda fila)
fila_banano = df.iloc[1,0]
print(f"Fila 'banana': \n {fila_banano}")

Fila 'banana':
 banana

In [7]:
df_nuevo = df.set_index('producto')
df_nuevo

          precio  stock
producto
manzana      1.2     50
banana       0.8    100
naranja      1.0     80
pera         1.5     60
uva          2.0     40
sandía       3.5     20
kiwi         2.2     30
mango        2.8     25
piña         3.0     15
fresa        1.8     70

In [8]:
#Acceso a la fila 'naranja' usando loc
fila_loc = df_nuevo.loc['naranja']
print(f"Fila 'naranja': \n {fila_loc}")

#Acceso a la fila en la posición 2 (tercera fila) usando iloc
fila_iloc=df_nuevo.iloc[2]
print(f"Fila en la posición 2: \n {fila_iloc}")

Fila 'naranja':
 precio     1.0
stock     80.0
Name: naranja, dtype: float64
Fila en la posición 2:
 precio     1.0
stock     80.0
Name: naranja, dtype: float64

In [12]:
#filtrado de datos
#Filtrar productos con precio mayor a 2.00
print("Productos con precio mayor a 2.00:")
filtro_precio = df[df['precio'] > 2.00]
filtro_precio

Productos con precio mayor a 2.00:

  producto  precio  stock
5   sandía     3.5     20
6     kiwi     2.2     30
7    mango     2.8     25
8     piña     3.0     15

In [11]:
#filtrar datos con múltiples condiciones
#Filtrar productos con precio mayor a 2.00 y stock menor a 30
print("Productos con precio mayor a 2.00 y stock menor a 30:")
filtro_multiple = df[(df['precio'] > 2.00) & (df['stock'] < 30)]
filtro_multiple

Productos con precio mayor a 2.00 y stock menor a 30:

  producto  precio  stock
5   sandía     3.5     20
7    mango     2.8     25
8     piña     3.0     15

In [14]:
#filtrar con where
#Usar where para filtrar productos con stock mayor a 50 
print("Productos con stock mayor a 50:")
filtro_where = df['precio'].where(df['precio'] > 2.00,other='No cumple')
filtro_where

Productos con stock mayor a 50:

0    No cumple
1    No cumple
2    No cumple
3    No cumple
4    No cumple
5          3.5
6          2.2
7          2.8
8          3.0
9    No cumple
Name: precio, dtype: object

In [15]:
#Metodo query
#Filtrar productos con precio mayor a 2.00 usando query 
print("Productos con precio mayor a 2.00 usando query:")
filtro_query = df.query('precio > 2.00')
filtro_query

Productos con precio mayor a 2.00 usando query:

  producto  precio  stock
5   sandía     3.5     20
6     kiwi     2.2     30
7    mango     2.8     25
8     piña     3.0     15