In [1]:
import pandas as pd

In [33]:
#Leer el archivo CSV
#delimiter=',' sirve para mirar el separador del archivo 
#header = 0 significa que tome la fila 0 para tomarlo como encabezado
#names nos ayuda para darle nombres a las columnas si el archivo no las tiene 
#skiprows=2 omitir las filas que no deseo 
#nrows=2 leerme las primeras dos filas si tengo archivos grande con muchos volumenes de datos
#encoding='utf-8' el archivo esta en una codificacion diferente 
#delimiter='\t' este delimitador sirve para cuando el archivo viene en forma de tabulador
df = pd.read_csv('/Users/Admin/Documents/proyectosAnalisisDatos/Pandas/datos.csv',delimiter=',',header=0,names = ['NOMBRE','EDAD','CIUDAD'],skiprows=0,nrows=2,encoding='utf-8')


#Visualizar mi dataframe
display(df.head())

  NOMBRE  EDAD     CIUDAD
0   Juan    28     Madrid
1    Ana    22  Barcelona

In [27]:
#Leer archivos TXT
df_1 = pd.read_csv('/Users/Admin/Documents/proyectosAnalisisDatos/Pandas/datos.txt', delimiter='|')
display(df_1.head())

   nombre  edad     ciudad
0    Juan    28     Madrid
1     Ana    22  Barcelona
2   Pablo    28     Madrid
3  Carlos    22  Barcelona
4   Maria    28     Madrid

In [31]:
#Importamos el modulo de CSV de pandas
import csv

with open('/Users/Admin/Documents/proyectosAnalisisDatos/Pandas/datos.csv') as file:
    reader = csv.reader(file, delimiter=',')
    for row in reader:
        print(row)

['nombre', 'edad', 'ciudad']
['Juan', '28', 'Madrid']
['Ana', '22', 'Barcelona']

In [ ]:
pd.read_csv()