In [5]:
import pandas as pd

In [9]:
#Tecnicas para el manejo de datos faltantes
data = {
    'A': [1, None, 3, 4, None],
    'B': [1, 2, 3, 4, 5],
    'C': [1, 2, None, 4, 5]
}

df = pd.DataFrame(data)
df

     A  B    C
0  1.0  1  1.0
1  NaN  2  2.0
2  3.0  3  NaN
3  4.0  4  4.0
4  NaN  5  5.0

In [7]:
#Metodo isnull
faltantes_columnas = df.isnull().sum()
print("Datos faltantes por columna:\n", faltantes_columnas)

Datos faltantes por columna:
 A    2
B    0
C    1
dtype: int64

In [11]:
#Eliminar filas con datos faltantes
df_sin_faltantes = df.dropna()
print("\nDataFrame sin filas con datos faltantes:\n", df_sin_faltantes)

DataFrame sin filas con datos faltantes:
      A  B    C
0  1.0  1  1.0
3  4.0  4  4.0

In [10]:
#Eliminar columnas con datos faltantes
df_sin_columnas_faltantes = df.dropna(axis=1)
print("\nDataFrame sin columnas con datos faltantes:\n", df_sin_columnas_faltantes)

DataFrame sin columnas con datos faltantes:
    B
0  1
1  2
2  3
3  4
4  5

In [14]:
#Metodo fillna
df_relleno = df.fillna(0)
print("\nDataFrame con datos faltantes rellenados con 0:\n", df_relleno)

df_relleno_media = df.fillna(df.mean())
print("\nDataFrame con datos faltantes rellenados con la media:\n", df_relleno_media)

DataFrame con datos faltantes rellenados con 0:
      A  B    C
0  1.0  1  1.0
1  0.0  2  2.0
2  3.0  3  0.0
3  4.0  4  4.0
4  0.0  5  5.0

DataFrame con datos faltantes rellenados con la media:
           A  B    C
0  1.000000  1  1.0
1  2.666667  2  2.0
2  3.000000  3  3.0
3  4.000000  4  4.0
4  2.666667  5  5.0

In [15]:
df

     A  B    C
0  1.0  1  1.0
1  NaN  2  2.0
2  3.0  3  NaN
3  4.0  4  4.0
4  NaN  5  5.0

In [ ]:
#Rellenar con los datos anteriores
df_relleno_anterior = df.fillna(method='ffill')
print("\nDataFrame con datos faltantes rellenados con el valor anterior:\n", df_relleno_anterior)

DataFrame con datos faltantes rellenados con el valor anterior:
      A  B    C
0  1.0  1  1.0
1  1.0  2  2.0
2  3.0  3  2.0
3  4.0  4  4.0
4  4.0  5  5.0

C:\Users\Admin\AppData\Local\Temp\ipykernel_19968\4066706300.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_relleno_anterior = df.fillna(method='ffill')

In [17]:
#Rellenar con los datos siguientes
df_relleno_siguiente = df.fillna(method='bfill')
print("\nDataFrame con datos faltantes rellenados con el valor siguiente:\n", df_relleno_siguiente)

DataFrame con datos faltantes rellenados con el valor siguiente:
      A  B    C
0  1.0  1  1.0
1  3.0  2  2.0
2  3.0  3  4.0
3  4.0  4  4.0
4  NaN  5  5.0

C:\Users\Admin\AppData\Local\Temp\ipykernel_19968\2149636856.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_relleno_siguiente = df.fillna(method='bfill')