In [1]:
import pandas as pd

In [2]:
data = {
    'producto': ['Manzanas', 'Naranjas', 'Platanos', 'Uvas','Peras'],
    'precio': [100, 80, 60, 120, 90],
    'stock': [30, 50, 20, 60,40]  }

df = pd.DataFrame(data)

df

   producto  precio  stock
0  Manzanas     100     30
1  Naranjas      80     50
2  Platanos      60     20
3      Uvas     120     60
4     Peras      90     40

In [3]:
suma_precio = df['precio'].sum()
print(f'Suma de precios: {suma_precio}')

Suma de precios: 450

In [4]:
media_precio = df['precio'].mean()
print(f'Media de precios: {media_precio}')

Media de precios: 90.0

In [5]:
mediana_precio = df['precio'].median()
print(f'Mediana de precios: {mediana_precio}')

Mediana de precios: 90.0

In [6]:
maximo_precio = df['precio'].max()
print(f'Máximo precio: {maximo_precio}')
minimo_precio = df['precio'].min()
print(f'Mínimo precio: {minimo_precio}')

Máximo precio: 120
Mínimo precio: 60

In [7]:
desviacion_precio = df['precio'].std()
print(f'Desviación estándar de precios: {desviacion_precio}')

varianza_precio = df['precio'].var()
print(f'Varianza de precios: {varianza_precio}')

Desviación estándar de precios: 22.360679774997898
Varianza de precios: 500.0

In [12]:
resumen_precios = df['precio'].describe()
print(resumen_precios)

count      5.00000
mean      90.00000
std       22.36068
min       60.00000
25%       80.00000
50%       90.00000
75%      100.00000
max      120.00000
Name: precio, dtype: float64

In [14]:
#metodo cumsum() para calcular la suma acumulativa de los precios
df['suma_acumulativa'] = df['precio'].cumsum()
df

   producto  precio  stock  suma_acumulativa
0  Manzanas     100     30               100
1  Naranjas      80     50               180
2  Platanos      60     20               240
3      Uvas     120     60               360
4     Peras      90     40               450

In [15]:
#Producto acumulativo de precios
df['producto_acumulativo'] = df['precio'].cumprod()
df

   producto  precio  stock  suma_acumulativa  producto_acumulativo
0  Manzanas     100     30               100                   100
1  Naranjas      80     50               180                  8000
2  Platanos      60     20               240                480000
3      Uvas     120     60               360              57600000
4     Peras      90     40               450            5184000000

In [17]:
#Diferencia discreta entre precios consecutivos
df['diferencia_precios'] = df['precio'].diff()
df

,producto,precio,stock,suma_acumulativa,producto_acumulativo,diferencia_precios
0,Manzanas,100,30,100,100,NaN
1,Naranjas,80,50,180,8000,-20.0
2,Platanos,60,20,240,480000,-20.0
3,Uvas,120,60,360,57600000,60.0
4,Peras,90,40,450,5184000000,-30.0

In [18]:
#cambio porcentual entre precios consecutivos
df['cambio_porcentual'] = df['precio'].pct_change()
df

,producto,precio,stock,suma_acumulativa,producto_acumulativo,diferencia_precios,cambio_porcentual
0,Manzanas,100,30,100,100,NaN,NaN
1,Naranjas,80,50,180,8000,-20.0,-0.20
2,Platanos,60,20,240,480000,-20.0,-0.25
3,Uvas,120,60,360,57600000,60.0,1.00
4,Peras,90,40,450,5184000000,-30.0,-0.25