In [1]:
import pandas as pd

In [2]:
# Se categoriza la columna 'Ventas' para identificar valores fuera del rango esperado

data_largo = {
    'Producto': ['A', 'B', 'C', 'A', 'B', 'C'],
    'Mes': ['Enero', 'Enero', 'Enero', 'Febrero', 'Febrero', 'Febrero'],
    'Ventas': [100, 150, 200, 120, 160, 210]
}

df = pd.DataFrame(data_largo)
display(df)

  Producto      Mes  Ventas
0        A    Enero     100
1        B    Enero     150
2        C    Enero     200
3        A  Febrero     120
4        B  Febrero     160
5        C  Febrero     210

In [3]:
# Comvertir a formato ancho
df_pivot = df.pivot(index='Producto', columns='Mes', values='Ventas').reset_index()
df_pivot.columns.name = None  # Eliminar el nombre del Ã­ndice de columnas
display(df_pivot)

  Producto  Enero  Febrero
0        A    100      120
1        B    150      160
2        C    200      210

In [5]:
# convertir ahora a formato largo
df_largo = pd.melt(df_pivot.reset_index(), id_vars=['Producto'], value_vars=['Enero', 'Febrero'], var_name='Mes', value_name='Ventas')
display(df_largo)
display(df_largo.equals(df))  # Verificar si es igual al original

  Producto      Mes  Ventas
0        A    Enero     100
1        B    Enero     150
2        C    Enero     200
3        A  Febrero     120
4        B  Febrero     160
5        C  Febrero     210

True