In [4]:
import pandas as pd
import numpy as np

In [5]:
numeros = pd.Series([1,2,3,4,5])
numeros

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
numeros = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
numeros

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
# Creamos un diccionario simple
mi_diccionario = {
    'nombre': 'Juan',
    'edad': 30,
    'ciudad': 'Madrid',
    'pais': 'España',
    'telefono': '1234567890',
    'numero_hijos': 2,
    'casado': True,
    'salario': 50000,
    'fecha_nacimiento': '1990-01-01',
    'email': 'juan@gmail.com',
    'direccion': 'Calle Falsa 123',
    'codigo_postal': '28001',
}

# Convertimos el diccionario a una serie
serie = pd.Series(mi_diccionario)
serie

nombre                         Juan
edad                             30
ciudad                       Madrid
pais                         España
telefono                 1234567890
numero_hijos                      2
casado                         True
salario                       50000
fecha_nacimiento         1990-01-01
email                juan@gmail.com
direccion           Calle Falsa 123
codigo_postal                 28001
dtype: object

In [8]:
mi_diccionario['nombre']

'Juan'

In [10]:
mi_diccionario['nombre'] = 'yamith'
mi_diccionario['nombre']

'yamith'

In [11]:
serie_numeros = pd.Series([1,2,3,4,5])
serie_numeros.apply(np.log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
4    1.609438
dtype: float64

In [12]:
serie_nombres = pd.Series(['Juan', 'Maria', 'Pedro', 'Ana', 'Luis'])
serie_edades = pd.Series([25, 30, 35, 40, 45])
df_personas = pd.DataFrame({'nombre': serie_nombres, 'edad': serie_edades})
df_personas

  nombre  edad
0   Juan    25
1  Maria    30
2  Pedro    35
3    Ana    40
4   Luis    45