In [1]:
import pandas as pd
from sqlalchemy import create_engine, Column, Integer ,String, Float, ForeignKey
#from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import declarative_base, sessionmaker

In [2]:
engine = create_engine('sqlite:///emppleado_orm.db', echo=True)

In [ ]:
Base = declarative_base()

2025-09-19 09:11:13,563 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-19 09:11:13,563 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
#Crear una seccion para intereactuar 
Seccion = sessionmaker(bind=engine)
seccion = Seccion()

In [5]:
class Empleado(Base):
    __tablename__ = 'empleados'
    
    id = Column(Integer,primary_key=True)
    nombre =Column(String)
    apellido = Column(String)
    edad = Column(Integer)
    salario = Column(Float)
    departamento = Column(String)
    
    def __repr__(self):
        return f"<Empleado(nombre-'{self.nombre} ',apellido- {self.apellido}',departamento-' {self.departamento}',edad-'{self.edad},'salario-'{self.salario}"

In [6]:
#Crear la base de datos
Base.metadata.create_all(engine)

2025-09-19 09:08:54,657 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-19 09:08:54,658 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("empleados")
2025-09-19 09:08:54,658 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-19 09:08:54,659 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
#Crear un empleado 
empleado_1 = Empleado(nombre='Carlos', apellido='Mendez',edad=33,salario=6200,departamento='IT')
seccion.add(empleado_1)
seccion.commit()

2025-09-19 09:08:54,665 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-19 09:08:54,667 INFO sqlalchemy.engine.Engine INSERT INTO empleados (nombre, apellido, edad, salario, departamento) VALUES (?, ?, ?, ?, ?)
2025-09-19 09:08:54,667 INFO sqlalchemy.engine.Engine [generated in 0.00063s] ('Carlos', 'Mendez', 33, 6200.0, 'IT')
2025-09-19 09:08:54,668 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
#Buscar un empleado 
empleados_it = seccion.query(Empleado).filter_by(departamento='IT').all()
for empleado in empleados_it:
    print(empleado)

2025-09-19 09:08:54,674 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-19 09:08:54,676 INFO sqlalchemy.engine.Engine SELECT empleados.id AS empleados_id, empleados.nombre AS empleados_nombre, empleados.apellido AS empleados_apellido, empleados.edad AS empleados_edad, empleados.salario AS empleados_salario, empleados.departamento AS empleados_departamento
FROM empleados
WHERE empleados.departamento = ?
2025-09-19 09:08:54,677 INFO sqlalchemy.engine.Engine [generated in 0.00051s] ('IT',)
<Empleado(nombre-'Carlos ',apellido- Mendez',departamento-' IT',edad-'33,'salario-'6200.0

In [9]:
#Actualizar un empleado 
empleado = seccion.query(Empleado).filter_by(nombre='Carlos').first()
empleado.salario = 70000
seccion.commit()

2025-09-19 09:08:54,682 INFO sqlalchemy.engine.Engine SELECT empleados.id AS empleados_id, empleados.nombre AS empleados_nombre, empleados.apellido AS empleados_apellido, empleados.edad AS empleados_edad, empleados.salario AS empleados_salario, empleados.departamento AS empleados_departamento
FROM empleados
WHERE empleados.nombre = ?
 LIMIT ? OFFSET ?
2025-09-19 09:08:54,683 INFO sqlalchemy.engine.Engine [generated in 0.00057s] ('Carlos', 1, 0)
2025-09-19 09:08:54,685 INFO sqlalchemy.engine.Engine UPDATE empleados SET salario=? WHERE empleados.id = ?
2025-09-19 09:08:54,685 INFO sqlalchemy.engine.Engine [generated in 0.00051s] (70000.0, 1)
2025-09-19 09:08:54,686 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
#Eliminar datos 
seccion.delete(empleado)
seccion.commit()

2025-09-19 09:08:54,692 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-19 09:08:54,693 INFO sqlalchemy.engine.Engine SELECT empleados.id AS empleados_id, empleados.nombre AS empleados_nombre, empleados.apellido AS empleados_apellido, empleados.edad AS empleados_edad, empleados.salario AS empleados_salario, empleados.departamento AS empleados_departamento
FROM empleados
WHERE empleados.id = ?
2025-09-19 09:08:54,693 INFO sqlalchemy.engine.Engine [generated in 0.00051s] (1,)
2025-09-19 09:08:54,694 INFO sqlalchemy.engine.Engine DELETE FROM empleados WHERE empleados.id = ?
2025-09-19 09:08:54,695 INFO sqlalchemy.engine.Engine [generated in 0.00059s] (1,)
2025-09-19 09:08:54,696 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
#Relaciones con la tabla
from sqlalchemy.orm import relationship

In [ ]:
# Declarar base
Base = declarative_base()

# ======================
# DefiniciÃ³n de clases
# ======================
class Departamento(Base):
    __tablename__ = 'departamento'
    
    id = Column(Integer, primary_key=True)
    nombre = Column(String)
    colaboradores = relationship("Colaborador", back_populates="departamento")

class Colaborador(Base):
    __tablename__ = 'colaborador'
    
    id = Column(Integer, primary_key=True)
    nombre = Column(String)
    departamento_id = Column(Integer, ForeignKey('departamento.id'))
    departamento = relationship("Departamento", back_populates="colaboradores")

# ======================
# ConexiÃ³n a la BD
# ======================
# Usa archivo SQLite empresa.db
engine = create_engine("sqlite:///empresa.db", echo=True)

# ð MUY IMPORTANTE: Crear las tablas
Base.metadata.create_all(engine)

# ======================
# Crear sesiÃ³n
# ======================
Session = sessionmaker(bind=engine)
session = Session()

# ======================
# Insertar datos
# ======================
dep1 = Departamento(nombre="Recursos Humanos")
dep2 = Departamento(nombre="Finanzas")

col1 = Colaborador(nombre="Carlos PÃ©rez", departamento=dep1)
col2 = Colaborador(nombre="Ana GÃ³mez", departamento=dep2)

session.add_all([dep1, dep2, col1, col2])
session.commit()

2025-09-19 09:12:19,503 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-19 09:12:19,504 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("departamento")
2025-09-19 09:12:19,504 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-19 09:12:19,505 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("departamento")
2025-09-19 09:12:19,506 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-19 09:12:19,507 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("colaborador")
2025-09-19 09:12:19,507 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-19 09:12:19,507 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("colaborador")
2025-09-19 09:12:19,508 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-19 09:12:19,509 INFO sqlalchemy.engine.Engine
CREATE TABLE departamento (
	id INTEGER NOT NULL,
	nombre VARCHAR,
	PRIMARY KEY (id)
)


2025-09-19 09:12:19,509 INFO sqlalchemy.engine.Engine [no key 0.00024s] ()
2025-09-19 09:12:19,521 INFO sqlalchemy.engine.Engine
CREATE TABLE colaborador (
	id INTEGER NOT NULL,
	nombre VARCHAR,
	departamento_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(departamento_id) REFERENCES departamento (id)
)


2025-09-19 09:12:19,521 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2025-09-19 09:12:19,529 INFO sqlalchemy.engine.Engine COMMIT
2025-09-19 09:12:19,532 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-19 09:12:19,533 INFO sqlalchemy.engine.Engine INSERT INTO departamento (nombre) VALUES (?) RETURNING id
2025-09-19 09:12:19,533 INFO sqlalchemy.engine.Engine [generated in 0.00008s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('Recursos Humanos',)
2025-09-19 09:12:19,534 INFO sqlalchemy.engine.Engine INSERT INTO departamento (nombre) VALUES (?) RETURNING id
2025-09-19 09:12:19,535 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('Finanzas',)
2025-09-19 09:12:19,536 INFO sqlalchemy.engine.Engine INSERT INTO colaborador (nombre, departamento_id) VALUES (?, ?) RETURNING id
2025-09-19 09:12:19,536 INFO sqlalchemy.engine.Engine [generated in 0.00005s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('Carlos PÃ©rez', 1)
2025-09-19 09:12:19,537 INFO sqlalchemy.engine.Engine INSERT INTO colaborador (nombre, departamento_id) VALUES (?, ?) RETURNING id
2025-09-19 09:12:19,537 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('Ana GÃ³mez', 2)
2025-09-19 09:12:19,538 INFO sqlalchemy.engine.Engine COMMIT
2025-09-19 09:12:19,545 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-19 09:12:19,547 INFO sqlalchemy.engine.Engine SELECT colaborador.id AS colaborador_id, colaborador.nombre AS colaborador_nombre, colaborador.departamento_id AS colaborador_departamento_id
FROM colaborador
2025-09-19 09:12:19,547 INFO sqlalchemy.engine.Engine [generated in 0.00047s] ()
2025-09-19 09:12:19,549 INFO sqlalchemy.engine.Engine SELECT departamento.id AS departamento_id, departamento.nombre AS departamento_nombre
FROM departamento
WHERE departamento.id = ?
2025-09-19 09:12:19,549 INFO sqlalchemy.engine.Engine [generated in 0.00041s] (1,)
Colaborador: Carlos PÃ©rez, Departamento: Recursos Humanos
2025-09-19 09:12:19,550 INFO sqlalchemy.engine.Engine SELECT departamento.id AS departamento_id, departamento.nombre AS departamento_nombre
FROM departamento
WHERE departamento.id = ?
2025-09-19 09:12:19,550 INFO sqlalchemy.engine.Engine [cached since 0.001715s ago] (2,)
Colaborador: Ana GÃ³mez, Departamento: Finanzas

In [11]:
# ======================
# Consultar
# ======================
for colab in session.query(Colaborador).all():
    print(f"Colaborador: {colab.nombre}, Departamento: {colab.departamento.nombre}")

2025-09-19 09:12:54,830 INFO sqlalchemy.engine.Engine SELECT colaborador.id AS colaborador_id, colaborador.nombre AS colaborador_nombre, colaborador.departamento_id AS colaborador_departamento_id
FROM colaborador
2025-09-19 09:12:54,830 INFO sqlalchemy.engine.Engine [cached since 35.28s ago] ()
Colaborador: Carlos PÃ©rez, Departamento: Recursos Humanos
Colaborador: Ana GÃ³mez, Departamento: Finanzas